<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Mini Library</title>
    </head>

    <body>
        <div class="wrapper">
            <table class = "user">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                {% for book in books %}
                <tr>
                    <td> {{ book.name }} </td>
                    <td> ${{ book.price }}</td>
                </tr>
                <td>
                    <form method = "POST">
                        {% csrf_token %}
                        <button type = "submit" name = "delete-book" value = "{{ book.name }}">Delete</button>
                    </form>
                </td>
                {% endfor %}
                
            </table>
            <table class = "library">
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Liked Book Indices</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td> {{ user.name }} </td>
                    <td> {{ user.age }}</td>
                    <td> {{ user.liked_book_indices}} </td>
                </tr>
                <td>
                    <form method = "POST">
                        {% csrf_token %}
                        <button type = "submit" name = "delete-user" value = "{{ user.name }}">Delete</button>
                    </form>
                </td>
                {% endfor %}
            </table>
        </div>
        <div class = "actions">
            <div class = "add-user">
                <form method = "POST">
                    {% csrf_token %} 
                    {{ users_form.as_p }}
                    <button type="submit" name="add-user">Add User</button>

                </form>
            </div>
            <div class = "add-book">
                <form method = "POST">
                    {% csrf_token %} 
                    {{ books_form.as_p }}
                    <button type="submit" name="add-book">Add Book</button>

                </form>
            </div>

            <div class = "query">
                <form method = "POST">
                    {% csrf_token %}
                    {{ query_form.as_p }}
                </form>
            </div>
        </div>

    </body>
</html>